.viz.graph text {
  font-family: Verdana, sans-serif;
}
.viz.graph .link {
  fill: none;
  stroke: #000;
}
.viz.graph .node .circle {
  stroke: #000;
  stroke-width: 2px;
  fill: #fff;
}
.viz.array rect {
  fill: #fff;
  stroke: #000;
  stroke-width: 4px;
}
#representations div {
  display: inline-block;
}
