<!doctype html>
<html>
    <head>
        <title>Datastructures</title>
        <link href="/static/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/css/site.css" rel="stylesheet">
    </head>
    <body>
        <script src="/static/js/jquery-2.0.0.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <div class="container-fixed">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">Datastructures</a>
                </div>
            </div>

            <%= yield %>

        </div>
    </body>
</html>
