.viz.graph {
    text {
        font-family: Verdana, sans-serif;
    }
    .link {
        fill: none;
        stroke: #000;
    }
    .node-dot {
        stroke: #000;
        stroke-width: 2px;
        fill: #fff;
    }
}
